body {
    background: #ffe599;
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    margin: auto;
}

h1 {
    margin: auto;
    padding: 2.5%;
    border-radius: 5vw;
    font-size: 500%;
    background: white;
    color: black;
    width: 80vw;
    margin-top: 5%;
}

a { 
    margin: auto;
    padding: 5%;
    border-radius: 10vw;
    font-size: 500%;
    background: white;
    display: grid;
    text-decoration: none;
    color: black;
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
}

button {
    height: 6vh;
    width: 45vw;
    font-size: 400%;
    justify-content: space-evenly;
}




/* character */
#character {
    height: 30vh;
}


/* bottom bar navigation elems */
#navigation {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 7.5vh;
    width: 100vw;
    background-color: lightgrey;    
}
#home_button {
    background: white;
    color: black;
    border-radius: 0;
    height: 6vh;
    width: 45vw;
    font-size: 400%;
    justify-content: space-evenly;
    padding: 0 0;
    text-align: center;
    margin: auto;
}