* {
    border-radius: 0vw;
}

h1 {
    width: 80vw;
    margin-top: 5%;
}

a {
    padding: 0%;
    font-size: 500%;
    background: white;
    display: grid;
    text-decoration: none;
    color: black;
    width: 100%;
    margin-top: 20%;
}

main {
    display: grid;
    margin: auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    height: 52vh;
    width: 80vw;
}

p {
    border-style: solid;
    border-color: darkgrey;
    font-size: 300%;
    margin: 0%;
    height: 6.5vh;
}



/* character */
#character {
    height: 10vh;
}


/* workouts */
.workoutTable {
    background-color: lightgrey;
    height: 5vh;
}

.workoutEmpty {
    background-color: lightgrey;
}

.workoutTime {
    background-color: white;
}

.workoutEasy {
    background-color: yellow;
    border-style: solid;
    border-color: darkgrey;
    font-size: 300%;
    margin: 0%;
    height: 6.5vh;
}
.workoutMedium {
    background-color: orange;
    border-style: solid;
    border-color: darkgrey;
    font-size: 300%;
    margin: 0%;
    height: 6.5vh;
}
.workoutHard {
    background-color: red;
    border-style: solid;
    border-color: darkgrey;
    font-size: 300%;
    margin: 0%;
    height: 6.5vh;
}



/* list navigation buttons */
#backAndMore {
    display: flex;
    width: 80vw;
}

.button_workout_list {
    height: 5vh;
    width: 45vw;
    font-size: 350%;
    justify-content: space-evenly;
}

/* anchors that work and act like buttons */
.anchorButton {
    padding: 5%;
    border-radius: 10vw;
    font-size: 500%;
    background: white;
    display: grid;
    color: black;
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
}
