body {
    background: #ffe599;
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    margin: auto;
}


h1 {
    margin: auto;
    padding: 2.5%;
    border-radius: 5vw;
    font-size: 500%;
    background: white;
    color: black;
    width: 80vw;
    margin-top: 5%;
}

p {
    border-style: solid;
    border-color: black;
    font-size: 300%;
    margin: auto;   
}

button {
    height: 6vh;
    width: 45vw;
    font-size: 400%;
    justify-content: space-evenly;
}

input {
    border-style: solid;
    border-color: black;
    font-size: 300%;
    margin: auto;   
}

label {
    font-size: 300%;
}

timelineAndTimer {
    width: 95vw;
    display: flex;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}




/* variable classes to be assigned in JS */
.hidden {
    display: none;
}
.selected {
    border: green solid 10px;
    margin: -10px;
}





/* character */
#character {
    height: 10vh;
}   


/* timeline */
#timeline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 90vw;
}
.timelineExercise {
    width: 22vw;
    height: 7.5vh;
    background: repeating-linear-gradient(
        45deg,
        white,
        white 15px,
        grey 20px
    );
}

/* workouts, KEEP THIS UNDER ".timelineExercise". There's some weird heirarchy system that overwrites one another depending on their placement in the CSS */
.workoutEasy {
    background: yellow;
}
.workoutHard {
    background: red;
}

/* for Prev 30s and More 30s buttons */
.button_exercise_list {
    height: 5vh;
    width: 45vw;
    font-size: 350%;
    justify-content: space-evenly;
}


/* timer and delete button */
#deleteButton {
    margin: auto;
    text-decoration: none;
    color: black;
    width: 45vw;
    height: 6.5vh;
    border-radius: 5vw;
    font-size: 600%;
    background-color: red;
}
#timer {
    background-color: white;
    width: 45vw;
    height: 6.5vh;
    border-radius: 5vw;
    font-size: 600%;
}


/* input fields for exercise querying */
#listInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 90vw;
}
.exerciseTable {
    background-color: lightgrey;
    height: 5vh;
    width: 44vw;
}


/* class for the list and the dynamically created exercise items in the list */
#list {
    background-color: white;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 32vh;
    width: 90vw;
}
.exerciseItem {
    width: 40vw;
    height: 6vh;
}


/* for list Back, create new exercise and list More buttons */
.button_workout_list {
    height: 5vh;
    width: 30vw;
    font-size: 350%;
    justify-content: space-evenly;
}


/* for pop-up submit box */
#submit {
    margin-top: 1vh;
    background: greenyellow;
    width: 50vw;
    height: 6.5vh;
    border-radius: 5vw;
    font-size: 600%;
}
#submitForm {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    border: solid grey 5px;
    border-radius: 5%;

    position: fixed;
    left: 10%;
    top: 30%;
    width: 80vw;
    height: 40vh;
    background-color: white;
}
#newExerciseForm {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    border: solid grey 5px;
    border-radius: 5%;

    position: fixed;
    left: 10%;
    top: 30%;
    width: 80vw;
    height: 40vh;
    background-color: white;
}

/* bottom bar navigation elems */
#navigation {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 7.5vh;
    width: 100vw;
    background-color: lightgrey;    
}
#home_button {
    background: white;
    color: black;
    border-radius: 0;
    height: 6vh;
    width: 45vw;
    font-size: 400%;
    justify-content: space-evenly;
    padding: 0 0;
    text-align: center;
    margin: auto;
}
