* {
    border-radius: 0vw;
}


h1 {
    width: 80%;
    margin-top: 5%;
}

p {
    border-style: solid;
    border-color: black;
    font-size: 300%;
    /* margin: auto; */
}


input {
    border-style: solid;
    border-color: black;
    font-size: 300%;
    margin: auto;   
}

timelineAndTimer {
    width: 95%;
    display: flex;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}


/* variable classes to be assigned in JS */
.hidden {
    display: none;
}
.selected {
    border: green solid 10px;
    margin: -10px;
}


/* timeline */
#timeline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 90%;
    height: 10rem;
    margin-bottom: 0.5rem;
}
.timelineExercise {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        45deg,
        white,
        white 15px,
        grey 20px
    );
}


/* workouts, KEEP THIS UNDER ".timelineExercise". There's some weird heirarchy system that overwrites one another depending on their placement in the CSS */
.workoutEasy {
    background: yellow;
}
.workoutHard {
    background: red;
}

/* for Prev 30s and More 30s buttons */
.button_exercise_list {
    height: 7rem;
    width: 45%;
    font-size: 350%;
    justify-content: space-evenly;
}


/* timer and delete button */
#deleteButton {
    margin: auto;
    text-decoration: none;
    color: black;
    width: 45%;
    height: 6.5%;
    border-radius: 40px;
    font-size: 600%;
    background-color: red;
}
#timer {
    background-color: white;
    width: 45%;
    height: 6.5%;
    font-size: 600%;
}


/* input fields for exercise querying */
#listInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 90%;
    height: 7.5rem;
}
.exerciseTable {
    background-color: lightgrey;
    height: 100%;
    width: 100%;
}


/* class for the list and the dynamically created exercise items in the list */
#list {
    background-color: white;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 45rem;
    /* height: 40vh; */
    width: 90%;
}
.exerciseItem {
    width: 90%;
    height: 8.5rem;
}


/* for list Back, create new exercise and list More buttons */
.button_workout_list {
    height: 7rem;
    width: 30%;
    font-size: 350%;
    justify-content: space-evenly;
}


/* for pop-up submit box */
#submit {
    margin-top: 2.5rem;
    background: greenyellow;
    width: 50%;
    height: 10rem;
    border-radius: 60px;
    font-size: 600%;
}
#submitForm {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    border: solid grey 5px;
    border-radius: 5%;

    position: fixed;
    left: 10%;
    top: 30%;
    width: 80%;
    height: 40%;
    background-color: white;
}
#newExerciseForm {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    border: solid grey 5px;
    border-radius: 5%;

    position: fixed;
    left: 10%;
    top: 30%;
    width: 80%;
    height: 40%;
    background-color: white;
}

/* #intenseOrRest {
    display: flex;
    justify-content: space-evenly;
} */

#restButton {
    border: solid black 5px;
    width: 25%;
}
#intenseButton {
    border: solid black 5px;
    width: 25%;
}

.selectedIntense {
    background-color: red;
}
.selectedRest {
    background-color: yellow;
}

.unselected {
    background-color: grey;
}