.inputField {
    margin-top: 20%;
    background: white;
    padding: 2.5vh;
    width: 80vw;
}

button {
    height: 100%;
}

input {
    border-radius: 1vw;
    width: 75vw;
    height: 2.5vh;
    font-size: 300%;
    border: solid 0.25em grey;
}