.inputField {
    margin-top: 20%;
    background: white;
    padding: 2.5rem;
    width: 80%;
}

button {
    height: 100%;
}

input {
    border-radius: 40px;
    width: 100%;
    font-size: 300%;
    border: solid 0.25em grey;
}