* {
    border-radius: 0vw;
}

h1 {
    width: 80vw;
    margin-top: 5%;
}

a { 
    border-radius: 10vw;
    display: grid;
    text-decoration: none;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* character */
#character {
    height: 30vh;
}