* {
    border-radius: 0vw;
}

h1 {
    width: 80vw;
    margin-top: 5%;
}

p {
    border-style: solid;
    border-color: black;
    font-size: 300%;
    margin: auto;
}

/* character */
#character {
    height: 20vh;
}


/* name of exercise display */
#exercise_display {
    height: 15vh;
}
.exercise {
    border-width: 1vw;
    background-color: lightgray;
    height: 10vh;
    width: 80%;
    font-size: 500%;
}

#description {
    font-size: 2.5rem;
    background-color: white;
    margin: 2vh;
    margin-top: 0;
    margin-bottom: 3vh;
    text-wrap: wrap;
    word-break: break-word;
}


/* timer elem */
#timer {
    background-color: white;
    width: 50vw;
    height: 6.5vh;
    border-radius: 5vw;
    font-size: 600%;
}


/* start and stop/pause exercise buttons */
#startAndStop {
    width: 85vw;
    height: 12vh;
    font-size: 800%;
    border-radius: 10vw;
    border: none;
    margin-top: 5vh;
}
.start {
    background: greenyellow;
}
.stop {
    background: red;
}

/* workouts */
.workoutEasy {
    background-color: yellow;
}
.workoutMedium {
    background-color: orange;
}
.workoutHard {
    background-color: red;
}