* {
    border-radius: 0px;
}

h1 {
    width: 80%;
    /* margin-top: 5%; */
    margin-top: 5rem;
    margin-bottom: 5rem;
}

p {
    border-style: solid;
    border-color: black;
    font-size: 300%;
    margin: auto;
}

/* name of exercise display */
#exercise_display {
    margin-bottom: 3rem;
}
#exercise {
    border-width: 5px;
    height: 13rem;
    width: 80%;
    font-size: 500%;
}
#description {
    font-size: 2.5rem;
    background-color: white;
    margin: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-wrap: wrap;
    word-break: break-word;
}

#progress {
    border-radius: 50px;
    height: 7.5rem;
    width: 70%;
    background-color: white;
}
#progressBar {
    border-radius: 50px;

    background-color: lime;
    height: 100%;
    width: 0%;
    margin: 0;
}

#upNextDisplay{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#upNext{
    background-color: white;
    width: max-content;
}
#nextExercise {
    border-width: 5px;
    width: 65%;
    font-size: 400%;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* timer elem */
#timer {
    background-color: white;
    width: max-content;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 50px;
    font-size: 600%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* start and stop/pause exercise buttons */
#startAndStop {
    width: 85%;
    height: 15rem;
    font-size: 800%;
    border-radius: 100px;
    border: none;
}
.start {
    background: greenyellow;
}
.stop {
    background: red;
}

/* workouts */
.workoutEasy {
    background-color: yellow;
}
.workoutMedium {
    background-color: orange;
}
.workoutHard {
    background-color: red;
}
.workoutNone {
    background-color: lightgrey;
}